* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*border: 1px solid red;*/
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  all: initial;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.homepage {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: var(--sub-color-site);
  display: flex;
  position: fixed;
}

.homepage a {
  padding: 5px;
  transition: all 0.3s ease;
  font-family: var(--main-font-site);
  font-size: 16px;
}

.homepage a:visited {
  color: var(--sub-color-site);
}

.homepage a:hover {
  color: var(--main-color-hover);
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  gap: 20px;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(11, auto);
}

.grid-item1 {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.grid-item2 {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}

.grid-item3 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}