:root {
  /*Змінні для шрифтів*/
  --main-font-text: 'Raleway', sans-serif;
  --main-font-title: 'Roboto', sans-serif;
  --main-font-button: 'Open Sans', sans-serif;
  /*Змінні для кольорів*/
  --main-color-site: #FFCC00;
  --sub-color-site: #898F8F;
}