:root {
  /*Змінні для кольорів*/
  --main-color-site: #FFFFFF;
  --sub-color-site: #16133D;
  --main-color-hover: #3DB370;
  --main-color-title: #7690A8;
  /*Змінні для шрифтів*/
  --main-font-logo: 'Quicksand', sans-serif;
  --main-font-site: 'Roboto', sans-serif;
  --main-font-title: 'Nunito Sans', sans-serif;
}