/*Стилі для footer*/
.footer {
  width: 100%;
  height: fit-content;
  padding: 40px 0;
  background-color: var(--sub-color-site);

  &-wrapper {
    width: 100%;
    height: fit-content;
  }
  
  &-logo-link span{
    color: var(--main-color-site);
  }

  &-socials {
    margin-top: 40px;
    max-width: 230px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &-icon{
    font-size: 40px;
  }

  &-socials svg {
    padding: 10px;
    background-color: var(--main-color-site);
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      fill: var(--main-color-hover);
    }
  }
}