:root {
  /*Змінні для кольорів сайту*/
  --main-color-site: #FFFFFF;
  --main-color-text: #2F281E;
  --hover-color-text: #FF9900;
  --secondary-color-text: #544837; 
  --main-color-button: #FF9900;
  --border-color-button: #BCD0E5;

  /*Змінні для шрифтів*/
  --main-font-site: 'Montserrat', sans-serif; 
  --secondary-font-site: 'Poppins', sans-serif;
}