:root {
  /*Змінні для шрифтів*/
  --main-font-site: 'Lucida Sans Unicode', sans-serif;
  /*Змінні для кольорів*/
  --main-color-site: #3399CC;
  --main-color-border: #2B81AC;
  --main-color-fonts: #FFFFFF;
}