/*Стилі для main*/
.main {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;

  &-wrapper {
    display: flex;
    align-items: center;
    gap: 55px;
    justify-content: space-between;
    width: 100%;
  }

  &-content {
    max-width: 500px;
    width: 100%;
  }

  &-title{
    font-size: 45px;
    margin-bottom: 30px;
  }

  &-info {
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 30px;
  }

  &-hero {
    display: flex;
    width: 100%;
  }
}