/*Початок стилів до класу main*/
.main {
  max-width: 900px;
  margin: 0 auto;
}
/*Кінець стилів до класу main*/

/*Стилі для класу wrapper*/
.wrapper {
  margin: 0 20px;
}

/*Початок стилів до заголовків*/
h1, h2 {
  text-align: center;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}
/*Кінець стилів до заголовків*/

/*Стилі для класу examples*/
.examples {
  background-color: #D9D9D9;
  padding: 10px 10px;
}

/*Стилі для класу example*/
.example {
  background-color: white;
  padding: 10px 10px;
  margin-top: 5px;
  border-left: 5px solid #3ec03a;
}




